
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
{% url 'home' as home %}
{% url 'about' as about %}
{% url 'iprofile' as profile %}
{% url 'contact' as contact %}
    <a class="navbar-brand" href="{% url 'home'%}">BoFFERS</a>
	</div>
	<div class="collapse navbar-collapse" id="topNavBar">
	<ul class="nav navbar-nav">
	<li  {% if request.path == home %} class="active" {% endif %}>
	<a href="{% url 'home'%}"><span class="glyphicon glyphicon-home"></span>&nbsp;
	Home</a>
	</li>
	<li  {% if request.path == about %} class="active" {% endif %}>
	<a href="{% url 'about'%}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;
	About</a>
	</li>
	<li  {% if request.path == profile %} class="active" {% endif %}>
	<a href="{% url 'iprofile'%}"><span class="glyphicon glyphicon-music"></span>&nbsp;
	Profile</a>
	</li>
	<li  {% if request.path == contact %} class="active" {% endif %}>
	<a href="{% url 'contact'%}"><span class="glyphicon glyphicon-user"></span>&nbsp;
	Contact</a>
	</li>
	<li  {% if request.path == shopping %} class="active" {% endif %}>
	<a href="{% url 'shopping'%}"><span class="glyphicon glyphicon-user"></span>&nbsp;
	Shopping</a>
	</li>
	</ul>
	<form class="navbar-form navbar-left" role="search" method="get" action="#">
	<div class="form-group">
	<input class="form-control" name="q" value="" type="text">
	</div>
	<button type="button" class="btn btn-default">Search</button>
	</form>
	
	<ul class="nav navbar-nav navbar-right">
	{% if not request.user.is_authenticated %}
	<li class="">
	<a href="{%url  'account_signup' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;
	Signup</a>
	</li>
	<li class="">
	<li class="">
	<a href="{%url 'account_login' %}"><span class="glyphicon glyphicon-on"></span>&nbsp;
	Login</a>
	</li>
	{% else %}
	<li>
	<a href="{%url 'account_logout' %}"><span class="glyphicon glyphicon-off"></span>&nbsp;
	Logout</a>
	</li>
	{% endif %}
	</ul>
	
	</div>
	
	</div>
	</nav>
